*.local
*.env
*.env.*
!.env.example
coverage/
dist/
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
/test-results/
/playwright-report/
/playwright/.cache/
