.btn {
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  transition: background-color, border-color, 0.4s;
  outline-offset: 2px;
  outline: 2px solid transparent;
}

.btn:focus {
  outline-offset: 2px;
  outline: 2px solid;
  outline-color: #333;
}

@media (prefers-color-scheme: dark) {
  .btn:focus {
    outline-color: #f2f2f2;
  }
}

.primary {
  background-color: #22508c;
  color: #fff;
}

.primary:hover,
.primary:active {
  background-color: #72c8fd;
  border-color: #72c8fd;
  color: #182e4e;
}

.secondary {
  color: #22508c;
  background-color: #fff;
  border-color: #22508c;
}

.secondary:hover,
.secondary:active {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .secondary {
    color: #72c8fd;
    background-color: #111;
    border-color: #72c8fd;
  }

  .secondary:hover,
  .secondary:active {
    color: #fff;
    background-color: #111;
    border-color: #fff;
  }
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button[disabled],
button[disabled]:hover,
button[disabled]:active {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #4f4f4f;
  cursor: not-allowed;
}
