.btn {
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  transition: background-color, border-color, 0.4s;
}

.primary {
  background-color: #22508c;
  color: #fff;
}

.primary:hover,
.primary:active,
.primary:focus {
  background-color: #72c8fd;
  border-color: #72c8fd;
  color: #182e4e;
}

.secondary {
  color: #22508c;
  background-color: #fff;
  border-color: #22508c;
}

.secondary:hover,
.secondary:active,
.secondary:focus {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .secondary {
    color: #72c8fd;
    background-color: #111;
    border-color: #72c8fd;
  }

  .secondary:hover,
  .secondary:active,
  .secondary:focus {
    color: #fff;
    background-color: #111;
    border-color: #fff;
  }
}

.disabled {
  background-color: #f2f2f2;
  color: #4f4f4f;
  cursor: not-allowed;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
