.btn {
  display: inline-block;
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  transition: background-color, border-color, 0.4s;
  outline-offset: 2px;
  outline: 2px solid transparent;
  text-decoration: none;
}

.btn:focus {
  outline-offset: 2px;
  outline: 2px solid;
  outline-color: #333;
}

@media (prefers-color-scheme: dark) {
  .btn:focus {
    outline-color: #f2f2f2;
  }
}

.primary {
  background-color: #005c66;
  color: #fff;
}

.primary:hover,
.primary:active {
  background-color: #fee44e;
  border-color: #fee44e;
  color: #182e4e;
}

.secondary {
  background: #fff;
  background-clip: padding-box;
  border: solid 2px transparent;
  position: relative;
  color: #005c66;
}

.secondary::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(327deg, #4ec4d1 0%, #fee44e 83%);
}

.secondary:hover,
.secondary:active {
  background-color: #333;
  color: #fee44e;
}

@media (prefers-color-scheme: dark) {
  .secondary {
    color: var(--light-blue);
    background-color: var(--dark-mode-primary-bg);
  }

  .secondary:hover,
  .secondary:active {
    background-color: var(--dark-mode-secondary-bg);
  }
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.small-icon {
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-less-round);
}

button[disabled],
button[disabled]:hover,
button[disabled]:active {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #4f4f4f;
  cursor: not-allowed;
}
