.flash-card {
  width: 100%;
  perspective: 100vw;
}

@media (prefers-color-scheme: dark) {
  .flash-card {
    color: #fff;
  }
}

.flash-card-inner {
  display: grid;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

.flash-card .header {
  background-color: #273bec;
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0 -1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.question,
.answer {
  background-color: #fff;
  padding: 0 1rem 1rem 1rem;
  width: 100%;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 4px 0px rgba(173, 173, 173, 0.75);
  grid-row: 1/2;
  grid-column: 1/2;
}

@media (prefers-color-scheme: dark) {
  .question,
  .answer {
    background-color: #202020;
  }
}

.question {
  transform: rotateY(0deg);
}

.answer {
  transform: rotateY(-180deg);
}

.flash-card.with-answer .flash-card-inner {
  transform: rotateY(180deg);
}

/** 
Not ideal, but since the disabled button within the flash card is never displayed, 
and don't want to confuse the user when the card flips, setting the cursor here 
**/
.flash-card button[disabled] {
  cursor: initial;
}
