.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: var(--border-radius);
  outline: none;
  padding: 10px 10px 20px 10px;
}

.modal .button-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-content {
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  .modal {
    padding: 40px;
  }
}
