header {
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: 1px 1px 4px 0px rgba(173, 173, 173, 0.75);
  background: var(--yellow);
  background: linear-gradient(327deg, var(--light-blue) 0%, var(--yellow) 56%);
}

header a {
  color: #222;
  text-decoration: none;
}
