.card-set {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .card-set {
    max-width: 750px;
    width: 75%;
  }
}

.card-container {
  margin: 0 0 1.5rem 0;
}

.set-controls {
  display: flex;
  justify-content: space-between;
}
