*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --border-radius: 22px;
  --border-radius-less-round: 8px;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  color: #222;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: 1rem 0.5rem;
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }
}

h2 {
  font-size: 1.25rem;
  margin: 0.25rem 0;
}

.hide {
  display: none;
}
