*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --border-radius: 22px;
  --border-radius-less-round: 8px;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  color: #222;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: 1rem 0.5rem;
  flex: 1;
}

.main-content {
  margin: 0 auto;
  max-width: 1200px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }
}

h1 {
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0.25rem 0;
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 2rem;
  }
}

.hide {
  display: none;
}

@media screen and (min-width: 769px) {
  main {
    margin: 1rem;
  }
}

/**** Form styles ****/
.input-group {
  display: flex;
  flex-direction: column;
}

.input-group textarea {
  min-width: 100%;
  max-width: 100%;
  margin: 0 0 1.5rem 0;
}

@media screen and (min-width: 769px) {
  .input-group textarea {
    min-width: 50%;
    max-width: 50%;
  }
}

.input-error {
  color: #b30300;
}

@media (prefers-color-scheme: dark) {
  .input-error {
    color: #ff7d7a;
  }
}

.button-group {
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.button-group.large-btns {
  flex-direction: column;
}

.button-group.large-btns a {
  text-align: center;
}

@media screen and (min-width: 425px) {
  .button-group.button-group.large-btns {
    flex-direction: row;
  }
  .button-group.large-btns a {
    text-align: left;
  }
}
