.action-menu {
  position: relative;
}

.action-menu ul.right {
  right: 0;
}

.action-menu ul {
  list-style: none;
  margin: 4px 0 0 0;
  padding: 0;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 4px 0px rgba(173, 173, 173, 0.75);
  position: absolute;
  min-width: 200px;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  .action-menu ul {
    background-color: var(--dark-mode-secondary-bg);
    box-shadow: 0px 0px 4px 0px rgba(255, 235, 39, 1);
  }
}

.action-menu li {
  padding: 0.3rem 1rem;
}

.action-menu li:first-of-type {
  padding-top: 0.5rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.action-menu li:last-of-type {
  padding-bottom: 0.5rem;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.action-menu li:hover,
.action-menu li:focus {
  background-color: var(--yellow);
}

@media (prefers-color-scheme: dark) {
  .action-menu li:hover,
  .action-menu li:focus {
    color: #222;
  }
}

.action-menu button.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
